@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'ALS-Rubl';
  src: url("../fonts/ALS-Rubl.otf");
}

@font-face {
  font-family: 'BravoRG';
  src: url("../fonts/BravoRG.otf");
}

@font-face {
  font-family: 'Ceremonius-One';
  src: url("../fonts/Ceremonius-One.ttf");
}

@font-face {
  font-family: 'Idealist-Sans';
  src: url("../fonts/Idealist-Sans.ttf");
}

@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: url("../fonts/PFDinTextCondPro-Medium.ttf");
}

@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url("../fonts/PFDinTextCondPro-Regular.ttf");
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url("../fonts/PTSans-Italic.ttf");
}

@font-face {
  font-family: 'PTSans-Narrow';
  src: url("../fonts/PTSans-Narrow.ttf");
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.ttf");
}

body {
  font-family: 'PTSans-Regular';
  font-size: 15px;
  color: #333333;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 100%;
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #ffffff;
}

.header .top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1c242a;
  padding: 20px 0;
  z-index: 10;
}

.header .top-header .top-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-header .top-header-wrap .burger {
  display: none;
}

.header .top-header .top-header-wrap .menu .main-menu a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'PFDinTextCondPro-Regular';
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.header .top-header .top-header-wrap .menu .main-menu a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .top-header .top-header-wrap .menu .main-menu a:hover::before {
  width: 50%;
}

.header .top-header .top-header-wrap .menu .main-menu a:first-of-type {
  margin-left: 0;
}

.header .top-header .top-header-wrap .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header .top-header-wrap .user-block .region {
  background: url(../img/header/globe.png) no-repeat left;
}

.header .top-header .top-header-wrap .user-block .region button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: 'PFDinTextCondPro-Regular';
  letter-spacing: 1.4px;
  margin-left: 30px;
}

.header .top-header .top-header-wrap .user-block .user {
  background: url(../img/header/user.png) no-repeat left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
}

.header .top-header .top-header-wrap .user-block .user .user-nav {
  margin-left: 30px;
}

.header .top-header .top-header-wrap .user-block .user .user-nav .fas {
  font-family: 'fa-solid-900';
  display: block;
  color: #bb9c66;
  font-size: 8px;
}

.header .top-header .top-header-wrap .user-block .user .user-list {
  position: absolute;
  background: #1c242a;
  padding: 10px 25px;
  right: 0;
  top: 50px;
  cursor: default;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .top-header .top-header-wrap .user-block .user .user-list.show {
  opacity: 1;
  visibility: visible;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link img {
  width: 15px;
  height: 100%;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link a {
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link a:hover {
  text-decoration: underline;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.header .header-main h3 {
  color: #bb9c66;
  font-size: 40px;
  font-family: 'Ceremonius-One';
}

.header .header-main h4 {
  margin-top: 15px;
  font-size: 35px;
  color: #ffffff;
  font-family: 'PFDinTextCondPro-Regular';
  letter-spacing: 5.25px;
}

.header .header-main p {
  margin-top: 15px;
  color: #ffffff;
  line-height: 25px;
}

.header .header-main .btn {
  margin-top: 50px;
}

.header .header-main .btn button {
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  border: 3px solid #bb9c66;
  color: #ffffff;
  font-family: 'Idealist-Sans';
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .header-main .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header-main .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bb9c66;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.auction {
  position: relative;
}

.auction .auction-bg1 {
  background: url(../img/auction/bg.png) top no-repeat;
  display: inline-block;
  height: 26px;
  width: 77px;
  position: absolute;
  top: calc(-26px / 2);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.auction .lots .lots-title {
  text-align: center;
  padding-top: 85px;
}

.auction .lots .lots-title h3 {
  font-family: 'Ceremonius-One';
  font-size: 40px;
  color: #bb9c66;
}

.auction .lots .lots-title h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'PFDinTextCondPro-Medium';
  color: #1c242a;
  font-size: 35px;
  letter-spacing: 5.25px;
}

.auction .lots .auction-bg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.auction .lots .auction-bg2 .left {
  margin-top: -20px;
  background: url(../img/auction/4.png) left no-repeat;
  width: 401px;
  height: 25px;
}

.auction .lots .auction-bg2 .middle {
  background: url(../img/auction/5.png) center no-repeat;
  min-width: 72px;
  height: 74px;
}

.auction .lots .auction-bg2 .right {
  margin-top: -20px;
  background: url(../img/auction/6.png) right no-repeat;
  width: 401px;
  height: 25px;
}

.auction .lots .lots-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.auction .lots .lots-offers .block {
  max-width: 250px;
}

.auction .lots .lots-offers .block .img {
  position: relative;
}

.auction .lots .lots-offers .block .img .overlay {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.auction .lots .lots-offers .block .img .overlay img {
  margin-top: 15px;
}

.auction .lots .lots-offers .block .img .overlay span {
  display: inline-block;
  margin-top: 5px;
  font-family: 'PTSans-Narrow';
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

.auction .lots .lots-offers .block .block-title {
  margin-top: 30px;
}

.auction .lots .lots-offers .block .block-title h4 {
  font-family: 'PFDinTextCondPro-Medium';
  color: #000000;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.auction .lots .lots-offers .block .block-title h4 span {
  opacity: 0;
}

.auction .lots .lots-offers .block .block-title .block-rate {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-views::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  background: #bb9c66;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-views span {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #000000;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-now {
  margin-top: 5px;
  text-align: center;
  background: url(../img/auction/7.png) center no-repeat;
  padding: 1px 0;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-now h6 {
  font-size: 14px;
  color: #000000;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-now h4 {
  margin-top: 10px;
  font-family: 'BravoRG';
  color: #1c242a;
  font-size: 50px;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-now .fas {
  font-family: 'fa-solid-900';
  font-size: 14px;
  color: #1c242a;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-rates::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  background: #bb9c66;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.auction .lots .lots-offers .block .block-title .block-rate .block-rates span {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #000000;
}

.auction .lots .lots-offers .block .block-title .btn {
  text-align: center;
  margin-top: 25px;
}

.auction .lots .lots-offers .block .block-title .btn button {
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border: 3px solid #bb9c66;
  font-family: 'PFDinTextCondPro-Medium';
  color: #000000;
  font-size: 21px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.auction .lots .lots-offers .block .block-title .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bb9c66;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: -1;
}

.auction .lots .lots-offers .block .block-title .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.auction .all-lots {
  padding: 100px 0 75px 0;
}

.auction .all-lots .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auction .all-lots .title .left {
  background: url(../img/auction/8.png) left no-repeat;
  height: 35px;
  width: 108px;
}

.auction .all-lots .title .middle {
  width: 100px;
  margin-left: 40px;
  position: relative;
}

.auction .all-lots .title .middle::before {
  content: '';
  position: absolute;
  background: url(../img/auction/10.png) left no-repeat;
  width: 9px;
  height: 9px;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.auction .all-lots .title .middle::after {
  content: '';
  position: absolute;
  background: url(../img/auction/10.png) right no-repeat;
  width: 9px;
  height: 9px;
  right: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.auction .all-lots .title .middle h5 {
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'PFDinTextCondPro-Medium';
  color: #000000;
  font-size: 21px;
  position: relative;
  text-align: center;
}

.auction .all-lots .title .middle h5::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #bb9c66;
}

.auction .all-lots .title .right {
  background: url(../img/auction/9.png) right no-repeat;
  width: 109px;
  height: 35px;
  margin-left: 40px;
}

.auction .all-lots .all-lots-gallery {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auction .all-lots .all-lots-gallery .left::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  background: url(../img/auction/gallery/bg2.png) right no-repeat;
}

.auction .all-lots .all-lots-gallery .right::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: url(../img/auction/gallery/bg2.png) left no-repeat;
}

.auction .all-lots .all-lots-gallery .block {
  position: relative;
}

.auction .all-lots .all-lots-gallery .block .box {
  position: relative;
  margin-top: 50px;
  z-index: 5;
  max-width: 250px;
}

.auction .all-lots .all-lots-gallery .block .box::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #bb9c66;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.auction .all-lots .all-lots-gallery .block .box:first-of-type {
  margin-top: 0;
}

.auction .all-lots .all-lots-gallery .block .box:last-of-type::before {
  display: none;
}

.auction .all-lots .all-lots-gallery .block .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(28, 36, 42, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.auction .all-lots .all-lots-gallery .block .box .overlay img {
  margin-top: 25px;
}

.auction .all-lots .all-lots-gallery .block .box .overlay p {
  margin-top: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 21px;
  letter-spacing: 2.1px;
}

.auction .all-lots .all-lots-gallery .block .box .overlay span {
  display: inline-block;
  background: url(../img/auction/gallery/bg.png) no-repeat;
  width: 100px;
  height: 22px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
}

.auction .all-lots .all-lots-gallery .block .box .overlay a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.auction .all-lots .all-lots-desc {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction .all-lots .all-lots-desc .all-lots-bg {
  background: url(../img/auction/gallery/bg3.png) left no-repeat;
  min-width: 85px;
  height: 375px;
}

.auction .all-lots .all-lots-desc .all-lots-text {
  margin-left: 45px;
}

.auction .all-lots .all-lots-desc .all-lots-text p {
  line-height: 25px;
  margin-top: 25px;
}

.auction .all-lots .all-lots-desc .all-lots-text p:first-of-type {
  margin-top: 0;
}

.services {
  background: #1c242a;
  padding: 60px 0 100px 0;
}

.services .title {
  text-align: center;
}

.services .title h3 {
  color: #bb9c66;
  font-family: 'Ceremonius-One';
  font-size: 40px;
}

.services .title h4 {
  margin-top: 25px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 35px;
  letter-spacing: 5.25px;
}

.services .services-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.services .services-bg .left {
  background: url(../img/services/1.png) left no-repeat;
  width: 401px;
  height: 25px;
  margin-top: -22px;
}

.services .services-bg .middle {
  background: url(../img/services/clock.png) center no-repeat;
  min-width: 72px;
  height: 74px;
}

.services .services-bg .right {
  background: url(../img/services/2.png) right no-repeat;
  width: 398px;
  height: 25px;
  margin-top: -22px;
}

.services .services-wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services-wrap .block {
  text-align: center;
  width: calc(25% - 30px);
}

.services .services-wrap .block .block-title {
  margin-top: 40px;
}

.services .services-wrap .block .block-title h5 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-family: 'PFDinTextCondPro-Medium';
  letter-spacing: 2.1px;
}

.services .services-wrap .block .block-title p {
  margin-top: 25px;
  line-height: 25px;
  color: #bb9c66;
}

.services .services-wrap .block .block-title a {
  display: inline-block;
  margin-top: 30px;
  font-family: 'PFDinTextCondPro-Medium';
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2.1px;
  position: relative;
}

.services .services-wrap .block .block-title a::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50%;
  width: 50px;
  height: 1px;
  background: #bb9c66;
  cursor: default;
}

.services .services-wrap .block .block-title a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -50%;
  width: 50px;
  height: 1px;
  background: #bb9c66;
  cursor: default;
}

@media screen and (max-width: 1160px) {
  .services .services-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .services .services-wrap .block {
    margin: 50px auto 0;
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .header .top-header .top-header-wrap .user-block .region {
    height: 18px;
    width: 18px;
  }
  .header .top-header .top-header-wrap .user-block .region button {
    display: none;
  }
  .auction .lots .lots-offers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .auction .lots .lots-offers .block {
    margin: 40px auto 0;
  }
  .auction .all-lots .all-lots-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .auction .all-lots .all-lots-gallery .left::before {
    display: none;
  }
  .auction .all-lots .all-lots-gallery .right::before {
    display: none;
  }
  .auction .all-lots .all-lots-gallery .block {
    margin: 50px auto 0;
  }
  .auction .all-lots .all-lots-gallery .block:first-of-type {
    margin-top: 0;
  }
  .auction .all-lots .all-lots-gallery .block .box:last-of-type::before {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .header .top-header .top-header-wrap .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .top-header .top-header-wrap .burger.active span {
    display: none;
  }
  .header .top-header .top-header-wrap .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #ffffff;
  }
  .header .top-header .top-header-wrap .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #ffffff;
  }
  .header .top-header .top-header-wrap .burger span {
    background: #bb9c66;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #bb9c66;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #bb9c66;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .menu {
    display: none;
    position: absolute;
  }
  .header .top-header .top-header-wrap .menu .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 36, 42, 0.9);
    z-index: 9998;
    text-align: center;
    padding-top: 100px;
  }
  .header .top-header .top-header-wrap .menu .main-menu a {
    display: block;
    margin: 20px 0;
    padding: 10px;
  }
  .header .top-header .top-header-wrap .menu .main-menu a::before {
    display: none;
  }
  .header .top-header .top-header-wrap .menu .main-menu .region {
    display: inline-block;
    background: url(../img/header/globe.png) left no-repeat;
  }
  .header .top-header .top-header-wrap .menu .main-menu .region button {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'PFDinTextCondPro-Regular';
    letter-spacing: 1.4px;
    margin-left: 30px;
  }
  .header .top-header .top-header-wrap .menu.show {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .auction .all-lots .all-lots-desc .all-lots-bg {
    display: none;
  }
  .auction .all-lots .all-lots-desc .all-lots-text {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .auction .lots .lots-title h4 {
    font-size: 25px;
  }
}

@media screen and (max-width: 350px) {
  .header .header-main h3 {
    font-size: 30px;
  }
  .header .header-main h4 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */