@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'ALS-Rubl';
  src: url("../fonts/ALS-Rubl.otf");
}

@font-face {
  font-family: 'BravoRG';
  src: url("../fonts/BravoRG.otf");
}

@font-face {
  font-family: 'Ceremonius-One';
  src: url("../fonts/Ceremonius-One.ttf");
}

@font-face {
  font-family: 'Idealist-Sans';
  src: url("../fonts/Idealist-Sans.ttf");
}

@font-face {
  font-family: 'PFDinTextCondPro-Medium';
  src: url("../fonts/PFDinTextCondPro-Medium.ttf");
}

@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url("../fonts/PFDinTextCondPro-Regular.ttf");
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url("../fonts/PTSans-Italic.ttf");
}

@font-face {
  font-family: 'PTSans-Narrow';
  src: url("../fonts/PTSans-Narrow.ttf");
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.ttf");
}

body {
  font-family: 'PTSans-Regular';
  font-size: 15px;
  color: #333333;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  height: 100%;
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header .top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1c242a;
  padding: 20px 0;
  z-index: 10;
}

.header .top-header .top-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top-header .top-header-wrap .burger {
  display: none;
}

.header .top-header .top-header-wrap .menu .main-menu a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'PFDinTextCondPro-Regular';
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.header .top-header .top-header-wrap .menu .main-menu a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #ffffff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .top-header .top-header-wrap .menu .main-menu a:hover::before {
  width: 50%;
}

.header .top-header .top-header-wrap .menu .main-menu a:first-of-type {
  margin-left: 0;
}

.header .top-header .top-header-wrap .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header .top-header-wrap .user-block .region {
  background: url(../img/header/globe.png) no-repeat left;
}

.header .top-header .top-header-wrap .user-block .region button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: 'PFDinTextCondPro-Regular';
  letter-spacing: 1.4px;
  margin-left: 30px;
}

.header .top-header .top-header-wrap .user-block .user {
  background: url(../img/header/user.png) no-repeat left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
}

.header .top-header .top-header-wrap .user-block .user .user-nav {
  margin-left: 30px;
}

.header .top-header .top-header-wrap .user-block .user .user-nav .fas {
  font-family: 'fa-solid-900';
  display: block;
  color: #bb9c66;
  font-size: 8px;
}

.header .top-header .top-header-wrap .user-block .user .user-list {
  position: absolute;
  background: #1c242a;
  padding: 10px 25px;
  right: 0;
  top: 50px;
  cursor: default;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .top-header .top-header-wrap .user-block .user .user-list.show {
  opacity: 1;
  visibility: visible;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link img {
  width: 15px;
  height: 100%;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link a {
  display: inline-block;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
  line-height: 25px;
}

.header .top-header .top-header-wrap .user-block .user .user-list .link a:hover {
  text-decoration: underline;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.header .header-main h3 {
  color: #bb9c66;
  font-size: 40px;
  font-family: 'Ceremonius-One';
}

.header .header-main h4 {
  margin-top: 15px;
  font-size: 35px;
  color: #ffffff;
  font-family: 'PFDinTextCondPro-Regular';
  letter-spacing: 5.25px;
}

.header .header-main p {
  margin-top: 15px;
  color: #ffffff;
  line-height: 25px;
}

.header .header-main .btn {
  margin-top: 50px;
}

.header .header-main .btn button {
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  border: 3px solid #bb9c66;
  color: #ffffff;
  font-family: 'Idealist-Sans';
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .header-main .btn button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header .header-main .btn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bb9c66;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .header .top-header .top-header-wrap .user-block .region {
    height: 18px;
    width: 18px;
  }
  .header .top-header .top-header-wrap .user-block .region button {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header .top-header .top-header-wrap .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .top-header .top-header-wrap .burger.active span {
    display: none;
  }
  .header .top-header .top-header-wrap .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #ffffff;
  }
  .header .top-header .top-header-wrap .burger.active::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #ffffff;
  }
  .header .top-header .top-header-wrap .burger span {
    background: #bb9c66;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #bb9c66;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #bb9c66;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .top-header .top-header-wrap .menu {
    display: none;
    position: absolute;
  }
  .header .top-header .top-header-wrap .menu .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 36, 42, 0.9);
    z-index: 9998;
    text-align: center;
    padding-top: 100px;
  }
  .header .top-header .top-header-wrap .menu .main-menu a {
    display: block;
    margin: 20px 0;
    padding: 10px;
  }
  .header .top-header .top-header-wrap .menu .main-menu a::before {
    display: none;
  }
  .header .top-header .top-header-wrap .menu .main-menu .region {
    display: inline-block;
    background: url(../img/header/globe.png) left no-repeat;
  }
  .header .top-header .top-header-wrap .menu .main-menu .region button {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'PFDinTextCondPro-Regular';
    letter-spacing: 1.4px;
    margin-left: 30px;
  }
  .header .top-header .top-header-wrap .menu.show {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .header .header-main h3 {
    font-size: 30px;
  }
  .header .header-main h4 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */